.window-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    .window-title-text-wrapper {
        font-size: 0.95rem;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
    }

    .window-title-icon {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }

    .window-title-buttons {
        display: flex;
        flex-wrap: nowrap;
    }
}

