@import "../../../styles/shared";

.taskbar-item-context-menu {
    position: absolute;
    height: auto;
    background-color: rgba(#101010, 0.99);
    border: 1px solid #2b2b2b;
    bottom: 40px;
    color: white;
    padding: 6px 0;
    box-shadow: 0 0 10px 5px rgba(34, 60, 80, 0.2);
    width: 256px;
    z-index: $z-index-max - 1;
}
