@import "../../../styles/shared";

.window-preview-wrapper {
    @include fullscreen;

    position: relative;

    .window-preview {
        position: absolute;
        top: 50%;
        left: 50%;
        background: rgb(231, 231, 231);
        color: black;
        border: 1px solid #657185;
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;
        pointer-events: none;
        transform-origin: top left;

        .resize-border {
            display: none;
        }

        &.active {
            border-color: #363c3f;
        }

        &.maximized {
            width: 100% !important;
            height: calc(100% - 40px) !important;
            border: none;

            & .resize-borders-wrapper {
                display: none !important;
            }
        }

        &.closed {
            display: none;
        }

        & .window-content {
            overflow: hidden;
            height: calc(100% - 32px);
        }
    }
}
