@import "../../../styles/shared";
@import "../../../styles/OS";
@import "../../../App";

.taskbar {
    height: 40px;
    width: 100%;
    background: #25262c;
    display: flex;
    justify-content: space-between;

    &.acrylic {
        background: rgba(#25262c, 0.75);

        .taskbar-item {
            &.taskbar-item-active {
                background: rgba(66, 82, 88, 0.75) !important;

                &::after {
                    width: 100%;
                }

                &.taskbar-item-open-multiple::after {
                    background: linear-gradient(90deg,
                            rgba(118, 185, 237, 1) 0%, rgba(118, 185, 237, 1) 89%,
                            rgba(71, 111, 142, 1) 89%, rgba(71, 111, 142, 1) 91%,
                            rgba(94, 148, 190, 1) 91%, rgba(94, 148, 190, 1) 100%);
                }

                &:hover {
                    background: rgba(#4e6067, 0.75) !important;
                }
            }

            &:hover {
                background: rgba(49, 66, 80, 0.75);
            }
        }
    }

    .taskbar-left,
    .taskbar-right {
        display: flex;
    }

    .taskbar-item {
        @include button-zero;

        width: 48px;
        min-width: 48px;
        max-width: 48px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.15s;
        position: relative;

        &::after {
            position: absolute;
            bottom: 0;
            content: "";
            height: 2px;
            width: calc(100% - 8px);
            background: transparent;
            transition: 0.07s ease-in;
            transition-property: width, height, background;
        }

        .taskbar-item-content {
            @include fullscreen;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.taskbar-item-open {
            &::after {
                background: #76b9ed;
            }

            &.taskbar-item-active {
                background: #4e6067;
            }
        }

        &.taskbar-item-open-multiple {
            &::after {
                background: linear-gradient(90deg,
                        rgba(118, 185, 237, 1) 0%, rgba(118, 185, 237, 1) 77%,
                        rgba(71, 111, 142, 1) 77%, rgba(71, 111, 142, 1) 80%,
                        rgba(94, 148, 190, 1) 80%, rgba(94, 148, 190, 1) 100%);
            }

            &:hover::after {
                background: linear-gradient(90deg,
                        rgba(118, 185, 237, 1) 0%, rgba(118, 185, 237, 1) 89%,
                        rgba(71, 111, 142, 1) 89%, rgba(71, 111, 142, 1) 91%,
                        rgba(94, 148, 190, 1) 91%, rgba(94, 148, 190, 1) 100%);
            }
        }

        &:active {
            background: #25282c;
        }

        &:focus-visible {
            outline: none;
        }

        .taskbar-item-icon {
            width: 24px;
            height: 24px;
            image-rendering: high-quality;

            &.taskbar-item-system-icon {
                width: 20px;
                height: 20px;

                &.taskbar-item-start-icon {
                    width: 19px;
                    height: 19px;
                }
            }

            &.single-color {
                filter: $cf-white;
            }
        }

        &:hover {
            background: #2f3038;

            &::after {
                width: calc(100% - 2px);
            }

            .taskbar-item-start-icon {
                filter: $cf-os-color;
            }
        }
    }

    .tray-item {
        @include button-zero;
        @extend .unselectable;

        color: white;
        height: 100%;
        width: auto;
        padding: 0 5px;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: #2f3038;
        }

        &.acrylic:hover {
            background: rgba(49, 66, 80, 0.75);
        }

        &.tray-item-minimize-all {
            box-shadow: inset 1px 0 0 0 rgba(#5d5f5f, 0.8);
            width: 5px;
            margin-left: 8px;
        }

        .tray-item-icon {
            width: 16px;
            height: 16px;
        }
    }
}
