@import "../../../styles/shared";

.taskbar-item-windows-panel-item-wrapper {
    min-width: 100px;
    max-width: 200px;
    position: relative;
    z-index: $z-index-max - 1;

    .taskbar-item-windows-panel-item-close-button {
        @include button-zero;

        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        z-index: 2;
        display: none;

        img {
            width: 12px;
            height: 12px;
            filter: $cf-white;
        }

        &:hover {
            background-color: #ce2230;
        }

        &:active {
            background-color: #e81123;
        }
    }

    &:hover {
        .taskbar-item-windows-panel-item {
            background-color: #3d3d3d;

            .taskbar-item-windows-panel-item-header .taskbar-item-windows-panel-item-header-label {
                max-width: calc(100% - 50px);
            }
        }
    }

    &:hover, &:active {
        .taskbar-item-windows-panel-item-close-button {
            display: initial;
        }
    }

    .taskbar-item-windows-panel-item {
        @include button-zero;
        @include fullscreen;

        display: flex;
        flex-direction: column;
        padding: 8px;
        width: auto;

        transition: 0.07s;
        transition-property: background-color;

        &:active {
            background-color: #535353;
        }

        .taskbar-item-windows-panel-item-header {
            display: flex;
            flex-direction: row;
            justify-content: start;
            font-size: 14px;
            padding-bottom: 8px;
            width: 100%;

            .taskbar-item-windows-panel-item-header-icon {
                width: 16px;
                height: 16px;
                margin-right: 8px;
            }

            .taskbar-item-windows-panel-item-header-label {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                text-align: start;
            }
        }

        .taskbar-item-windows-panel-item-preview {
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
    }
}
