@import "../../../styles/shared";
@import "../../../styles/OS";
@import "../../../App";

.taskbar-item {
    @include button-zero;

    width: 47px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.15s;
    position: relative;
    padding: 0 0 0 1px;
    background-clip: content-box;

    &::after {
        position: absolute;
        bottom: 0;
        content: "";
        height: 2px;
        width: calc(100% - 8px);
        background: transparent;
        transition: 0.07s ease-in;
        transition-property: width, height, background;
    }

    .taskbar-item-content {
        @include fullscreen;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.taskbar-item-open {
        &::after {
            background-color: #76b9ed;
        }

        //&.taskbar-item-active {
        //    background-color: #4e6067;
        //}
    }

    &:active {
        background-color: #25282c;
    }

    &:focus-visible {
        outline: none;
    }

    .taskbar-item-icon {
        width: 24px;
        height: 24px;
        image-rendering: high-quality;

        &.taskbar-item-system-icon {
            width: 20px;
            height: 20px;

            &.taskbar-item-start-icon {
                width: 19px;
                height: 19px;
            }
        }

        &.single-color {
            filter: $cf-white;
        }
    }

    &:hover {
        background-color: rgba(49, 66, 80, 0.75);

        &::after {
            width: calc(100% - 1px);
        }

        .taskbar-item-start-icon {
            filter: $cf-os-color;
        }
    }

    &.taskbar-item-open-multiple {
        &::after {
            background-image: linear-gradient(90deg,
                    rgba(118, 185, 237, 1) 0%, rgba(118, 185, 237, 1) 77%,
                    rgba(71, 111, 142, 1) 77%, rgba(71, 111, 142, 1) 80%,
                    rgba(94, 148, 190, 1) 80%, rgba(94, 148, 190, 1) 100%);
        }

        &:hover {
            background-image: linear-gradient(90deg,
                    rgba(49, 66, 80, 0.75) 0%, rgba(49, 66, 80, 0.75) 89%,
                    #212d32 89%, #212d32 91%,
                    rgba(53, 63, 68, 0.75) 91%, rgba(53, 63, 68, 0.75) 100%);

            &::after {
                background-image: linear-gradient(90deg,
                        rgba(118, 185, 237, 1) 0%, rgba(118, 185, 237, 1) 89%,
                        rgba(71, 111, 142, 1) 89%, rgba(71, 111, 142, 1) 91%,
                        rgba(94, 148, 190, 1) 91%, rgba(94, 148, 190, 1) 100%);
            }
        }
    }

    &.taskbar-item-active {
        background-color: rgba(66, 82, 88, 0.75);

        &::after {
            width: calc(100% - 1px);
        }

        &:hover {
            background-color: rgba(#4e6067, 0.75);
        }

        &.taskbar-item-open-multiple {
            background-image: linear-gradient(90deg,
                    rgba(66, 82, 88, 0.75) 0%, rgba(66, 82, 88, 0.75) 89%,
                    #212d32 89%, #212d32 91%,
                    rgba(53, 63, 68, 0.75) 91%, rgba(53, 63, 68, 0.75) 100%);

            &:hover {
                background-image: linear-gradient(90deg,
                        rgba(78, 96, 103, 0.75) 0%, rgba(78, 96, 103, 0.75) 89%,
                        #212d32 89%, #212d32 91%,
                        rgba(53, 63, 68, 0.75) 91%, rgba(53, 63, 68, 0.75) 100%);
            }

            &::after {
                background-image: linear-gradient(90deg,
                        rgba(118, 185, 237, 0.75) 0%, rgba(118, 185, 237, 0.75) 89%,
                        rgba(71, 111, 142, 0.75) 89%, rgba(71, 111, 142, 0.75) 91%,
                        rgba(94, 148, 190, 0.75) 91%, rgba(94, 148, 190, 0.75) 100%);
            }
        }
    }
}